export(block.design,g,getts,getrow,alternate.sol,btibts,wtaoptbtib,getr0,aoptgdtd,check.group,getrow2,alternate.sol2,gbbpb,getwq,aoptbbpb,bbpbwq,getrow3,alternate.sol3)
import(lpSolve,MASS)
importFrom("utils", "combn")